body{
  background-color: #CEC9C7;
}

.post-block{
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-show-container{
  border: 4px solid #DED7D4;  
}

.comment-show{
  border: 4px solid #DED7D4;   
}